@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.slotmachine.css";

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

@media screen and (min-width: 768px) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 30px;
    }
    .jumbotron {
        border-bottom: 0;
    }
}

/*
 * Casino
 */
#casino {
    border-top: 20px dotted rgb(180, 75, 119);
    border-bottom: 10px solid #A48E4E;
    background-color: rgb(240, 150, 150);
}

#casino h1 {
    margin: 0px;
}

#casino .content:nth-child(1) {
    text-align: center;
    background: image_url('machine.png') no-repeat 50% 80px;
    height: 580px;
}

#casino .content > div {
    clear:both;
    padding-top: 200px;
    width: 300px;
    margin: 0 auto;
}

.machineContainer{
    background-color: #000;
    padding: 5px 1px 5px 1px;
    overflow: hidden;
    height: 135px;
}

.slotMachine{
    width: 32.333333%;
    border: 5px solid #000;
    height: 100px;
    padding: 0px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
}

.btn-group-casino {
    margin-top: 150px;
    margin-left: -32px;
}

.btn-group-casino .btn {
    border: none;
    background-color: rgb(209, 79, 119);
}
.btn-group-casino .btn:hover, .btn-group-casino .btn:focus {
    background-color: rgb(180, 75, 119);
}

































.slotMachine .slot{
    height:100px;
    background-position-x: 55%;
    background-repeat: no-repeat;
}

// Frontend

.f-angular {
  background-image: image_url("f-angular.png");
  background-size: 100px;
}

.f-ember {
  background-image: image_url("f-ember.png");
  background-size: 100px;
}

.f-react {
  background-image: image_url("f-react.png");
  background-size: 100px;
}

.f-backbone{
  background-image: image_url("f-backbone.png");
  background-size: 100px;
}

// Backend
.fw-django {
  background-image: image_url("fw-django.png");
  background-size: 100px;
}

.fw-rails {
  background-image: image_url("fw-rails.png");
  background-size: 100px;
}

.fw-sinatra {
  background-image: image_url("fw-sinatra.png");
  background-size: 100px;
}

.fw-meteor {
  background-image: image_url("fw-meteor.png");
  background-size: 100px;
}

// Additional
.other-arangodb {
  background-image: image_url("other-arangodb.png");
  background-size: 100px;
}

.other-dynamodb {
  background-image: image_url("other-dynamodb.png");
  background-size: 100px;
}

.other-ec2 {
  background-image: image_url("other-ec2.png");
  background-size: 100px;
}

.other-firebase {
  background-image: image_url("other-firebase.png");
  background-size: 100px;
}

.other-heroku {
  background-image: image_url("other-heroku.png");
  background-size: 100px;
}

.other-rspec {
  background-image: image_url("other-rspec.png");
  background-size: 100px;
}

.other-youtube {
  background-image: image_url("other-youtube.png");
  background-size: 100px;
}
